<div class="content">
  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>{{ "CONTACT" | translate }}</span>
              <span>{{ "US" | translate }}</span>
            </div>
          </div>
          <form [formGroup]="fields" (ngSubmit)="onSubmit()">
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input
                    type="text"
                    class="app-form-control"
                    placeholder="{{ 'NAME' | translate }}"
                    formControlName="name"
                    minlength="2"
                  />
                </div>
                <div
                  class="validation-feedback"
                  *ngIf="
                    fields.get('name')!.touched || fields.get('name')!.dirty
                  "
                >
                  <span *ngIf="fields.get('name')!.hasError('required')">
                    {{ "Name is" | translate }} {{ "required" | translate }}
                  </span>
                  <span *ngIf="fields.get('name')!.hasError('minlength')">
                    {{ "Name is" | translate }} {{ "so short" | translate }}
                  </span>
                </div>
                <div class="app-form-group">
                  <input
                    type="email"
                    class="app-form-control"
                    placeholder="EMAIL"
                    formControlName="email"
                  />
                </div>
                <div
                  class="validation-feedback"
                  *ngIf="
                    fields.get('email')!.touched || fields.get('email')!.dirty
                  "
                >
                  <span *ngIf="fields.get('email')!.hasError('required')">
                    {{ "Email is" | translate }} {{ "required" | translate }}
                  </span>
                  <span *ngIf="fields.get('email')!.hasError('email')">
                    {{ "Email is" | translate }}
                    {{ "not avalible" | translate }}
                  </span>
                  <span *ngIf="fields.get('email')!.hasError('pattern')">
                    {{
                      "The e-mail contains characters that are not allowed"
                        | translate
                    }}
                  </span>
                </div>
                <div class="app-form-group">
                  <input
                    type="text"
                    class="app-form-control"
                    placeholder="{{ 'CONTACT NUMBER' | translate }}"
                    formControlName="contact_number"
                  />
                </div>
                <div
                  class="validation-feedback"
                  *ngIf="
                    fields.get('contact_number')!.touched ||
                    fields.get('contact_number')!.dirty
                  "
                >
                  <span
                    *ngIf="fields.get('contact_number')!.hasError('maxlength')"
                  >
                    {{ "Contact number is so long" | translate }}
                  </span>
                  <span
                    *ngIf="fields.get('contact_number')!.hasError('pattern')"
                  >
                    {{
                      "The contact number contains characters that are not allowed"
                        | translate
                    }}
                  </span>
                </div>
                <div class="app-form-group message">
                  <textarea
                    class="app-form-control"
                    placeholder="{{ 'MESSAGE' | translate }}"
                    formControlName="message"
                  ></textarea>
                </div>
                <div class="app-form-group buttons">
                  <button class="app-form-button">
                    {{ "CANCEL" | translate }}
                  </button>
                  <button type="submit" class="app-form-button">
                    {{ "SEND" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
