<div class="product-cart" *ngIf="cartItems && cartItems.length > 0">
  <button mat-raised-button color="warn" (click)="emptyCart()">Empty Cart</button> 
  <mat-card class="card" *ngFor="let item of cartItems">
    <mat-card-title-group>
      <mat-card-title>{{item.company}}</mat-card-title>
      <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
      <img mat-card-sm-image  [src]="item.small_img_1" >
    </mat-card-title-group>
    <mat-card-content>
      <p>{{item.description}}</p>
      <p>{{item.price  | currency}}</p>
      <button mat-stroked-button color="warn" (click)="removeItemFromCart(item.id)">
        <mat-icon aria-hidden="false">remove</mat-icon>
      </button>
        <p class="text-right">
          <strong class="d-block">Total:</strong>
          <span class="d-block">{{totalAmmount | currency}}</span>
        </p>
    </mat-card-content>
  </mat-card>
</div>
