<div class="container">
  <div class="danger" *ngIf="error">
    {{ error }}
  </div>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <form
    class="form"
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    *ngIf="!isLoading"
  >
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="form_fields.emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-hint>{{ "Errors appear instantly!" | translate }}</mat-hint>
      <mat-error
        *ngIf="
          form_fields.emailFormControl.hasError('email') &&
          !form_fields.emailFormControl.hasError('required')
        "
      >
        {{ "Please enter a valid email address" | translate }}
      </mat-error>
      <mat-error *ngIf="form_fields.emailFormControl.hasError('required')">
        {{ "Email is" | translate }}
        <strong>{{ "required" | translate }}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>{{ "Password" | translate }}</mat-label>
      <input
        type="password"
        matInput
        [formControl]="form_fields.passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. 123456"
      />
      <mat-hint>{{ "Errors appear instantly!" | translate }}</mat-hint>
      <mat-error
        *ngIf="
          form_fields.passwordFormControl.hasError('minLength') &&
          !form_fields.passwordFormControl.hasError('required')
        "
      >
        {{ "Please enter a valid password. Passord is so short." | translate }}'
      </mat-error>
      <mat-error *ngIf="form_fields.passwordFormControl.hasError('required')">
        {{ "Password is" | translate }}
        <strong>{{ "required" | translate }}</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      {{ isLoginMode ? "Login" : "Sing up" }} 
    </button>
    |
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="switchLoginMode()"
    >
      {{"Switch to" | translate}} {{ isLoginMode ? "Sing up" : "Login"}} 
    </button>
  </form>
</div>
