<ng-container *ngIf="item; else spinner">
  <div class="container">
    <div class="gallery">
      <img
        [src]="fetchFirstSmallImg(item)"
        (click)="showGallery(index, item)"
      />
      <img
        [src]="fetchSecondSmallImg(item)"
        (click)="showGallery(index, item)"
      />
      <img
        [src]="fetchThirdSmallImg(item)"
        (click)="showGallery(index, item)"
      />
      <img
        [src]="fetchFourthtSmallImg(item)"
        (click)="showGallery(index, item)"
      />
    </div>
    <hr />
    <div class="cart">
      <div class="desctription">
        <h3>{{ item.company }}</h3>
        <p>{{ item.description | translate}}</p>
        <p><strong>Price:</strong> {{ item.price }} $</p>
        <button mat-stroked-button (click)="decrease(item, totalAmount)">
          <mat-icon aria-hidden="false">remove</mat-icon>
        </button>
        <span class="value">
          <input [value]="cartItems.length" />
        </span>
        <button mat-stroked-button (click)="addToBasket(item, totalAmount)">
          <mat-icon aria-hidden="false">add</mat-icon>
        </button>
        <p>
          <strong class="d-block">Total:</strong>
          <span class="d-block">{{ totalAmount | currency }}</span>
        </p>
        <button
          mat-stroked-button
          id="add"
          type="submit"
          name="action"
          (click)="addToBasket(item, totalAmount)"
        >
          Add to cart
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #spinner>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
