<div class="container">
    <p>
        An About Us page should make sure to cover basic information about the store and its founders, explain the company's purpose and how it differs from the competition, and encourage discussion and interaction. ... 
        Most importantly, it will give your customers a reason to shop from your brand
    </p>
    <p>
        An About Us page should make sure to cover basic information about the store and its founders, explain the company's purpose and how it differs from the competition, and encourage discussion and interaction. ... 
        Most importantly, it will give your customers a reason to shop from your brand
    </p>

    <p>
        An About Us page should make sure to cover basic information about the store and its founders, explain the company's purpose and how it differs from the competition, and encourage discussion and interaction. ... 
        Most importantly, it will give your customers a reason to shop from your brand
    </p>
</div>