<div class="container">
    <div *ngIf="collections[0].about !== undefined">
        <p>
            {{collections[0].about.desctription}}
        </p>
        <p>
        {{collections[0].about.desctription}}
        </p>

        <p>
        {{collections[0].about.desctription}}
        </p>
    </div>
    <div class="map_and_logo">
        <div class="map">
            {{collections[0].about.map.title}}
        </div>
        <div class="logo">
            <img [src]="collections[0].about.logo" alt="Men shoes">
        </div>
    </div>
</div>