<!-- <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>

  </mat-grid-list> -->

<div class="container">
  <app-nav></app-nav>
    <div class="content">
      <img src="assets/images/image-product-1-thumbnail.jpg" (click)="showGallery(index)">
      <img src="assets/images/image-product-2-thumbnail.jpg" (click)="showGallery(index)">
      <img src="assets/images/image-product-3-thumbnail.jpg" (click)="showGallery(index)">
      <img src="assets/images/image-product-4-thumbnail.jpg" (click)="showGallery(index)">
      <router-outlet></router-outlet>
    </div>
</div>
