<ul>
    <li><a routerLink="/collections">Collections</a></li>
    <li><a routerLink="/mens">Men</a></li>
    <li><a routerLink="/womens">Women</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li *ngIf="isAuthenticated">
        <a routerLink="/cartItem">
            <mat-icon 
                [matBadge]="cartItems.length" 
                matBadgeColor="warn"
                >shopping_cart
            </mat-icon>
        </a>
    </li>
    <li *ngIf="!isAuthenticated">
        <a routerLink="/auth">Authenticate</a>
        <ng-container *ngIf="logIn">
            <button mat-button [matMenuTriggerFor]="menu">
                <img src="../../../../assets/icons/image-avatar.png" alt="Avatar">
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>User Profile</button>
                <button mat-menu-item>Your discounts</button>
                <button mat-menu-item>Log out</button>
            </mat-menu>
        </ng-container>
    </li>
    <li><a routerLink="/auth" *ngIf="isAuthenticated">Logout</a></li>
</ul>