<div class="content">
  <div class="container" *ngFor="let menShoes of menCollection; let i = index" >
        <div class="men">
            <hr>
            <ul>
                <a [routerLink]="['/men', menShoes.id]"><li>
                    <img [src]="menShoes.small_img_1" alt="Men shoes">
                </li></a>
                <li class="text">
                    <span>{{menShoes.company}}</span> : <br> <span><b>{{menShoes.price}} $</b></span>
                </li>
            </ul>
            <hr>
        </div>
  </div>
</div>
<hr>