<div class="content">
    <div class="container" *ngFor="let collection of collections">
        <div class="women" *ngIf="collection.sex === 'Women'">
            <ul>
                <li class="text">
                <b>{{collection.sex}}:</b>
                </li>
                <a [routerLink]="['/women', collection.id]"><li class="featured-img">
                    <img [src]= "collection.small_img_1" alt="Women shoes">
                </li></a>
                <li class="text">
                    <span>{{collection.company}}</span> : <br> <span><b>{{collection.price}} $</b></span>
                </li>
            </ul>
        </div>
        <hr>
        <div class="men" *ngIf="collection.sex === 'Men'">
            <ul>
                <li class="text">
                <b>{{collection.sex}}:</b>
                </li>
                <a [routerLink]="['/men', 'collection.id']"><li class="featured-img">
                    <img [src]="collection.small_img_1" alt="Men shoes">
                </li></a>
                <li class="text">
                    <span>{{collection.company}}</span> : <br> <span><b>{{collection.price}} $</b></span>
                </li>
            </ul>
        </div>
    </div>
</div>