<div class="content">
    <div class="container" *ngFor="let collection of collections">
        <div class="women" *ngIf="collection.sex === 'Women'">
            <a class="featured-img" [routerLink]="['/women', collection.id]">
                <mat-card class="card">
                <mat-card-title-group>
                    <mat-card-title>{{collection.sex}}</mat-card-title>
                    <mat-card-subtitle>{{collection.company}}</mat-card-subtitle>
                    <img mat-card-sm-image  [src]="collection.small_img_1" >
                </mat-card-title-group>
                <mat-card-content>
                    <p>{{collection.price  | currency}}</p>
                </mat-card-content>
                </mat-card>
            </a>
        </div>
        <hr>
        <div class="men" *ngIf="collection.sex === 'Men'">
            <a class="featured-img" [routerLink]="['/men', collection.id]">
                <mat-card class="card">
                <mat-card-title-group>
                    <mat-card-title>{{collection.sex}}</mat-card-title>
                    <mat-card-subtitle>{{collection.company}}</mat-card-subtitle>
                    <img mat-card-sm-image  [src]="collection.small_img_1" >
                </mat-card-title-group>
                <mat-card-content>
                    <p>{{collection.price  | currency}}</p>
                </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>

