.container{
    text-align: center;
    margin-left: 20%;
}
hr{
    width: 70%;
}
img{
    width: 176px;
    height: 176px;
}
ul{
    display: block;
    li{
        list-style: none;
        color:hsl(219, 9%, 45%);
        font-size: 25px;
        margin: 50px 100px 0;
    }
    li.text{
        width: 200px;
        height: 60px;
        background-color: hsl(25, 100%, 94%);
        border-radius: 8%;
        margin-left: 40%;
        text-align: center;
        padding: 1%;
        box-shadow: 1px 8px 24px -13px rgba(66, 68, 90, 1);
        span{
            margin: 4%;
        }
    }
}