.content {
  text-align: center;
  width: 80%;
  margin-left: 20%;
  padding: 1%;
  background-color: hsl(25, 100%, 94%);
  display: flex;
  justify-content: center;
}
.women {
  margin-left: 5%;
}
mat-card-title {
  margin-left: 95px;
}
.women hr {
  margin-left: 0;
}
img {
  width: 176px;
  height: 176px;
  border-radius: 5%;
  box-shadow: 1px 8px 24px -13px rgba(66, 68, 90, 1);
  overflow: hidden;
  margin: 50px 100px 0;
}
hr {
  margin-left: 22%;
}
