<div class="content">
  <div class="container" *ngFor="let womenShoes of womenCollection">
        <div class="women">
            <hr>
                <a [routerLink]="['/women', womenShoes.id]">
                    <mat-card class="card">
                        <mat-card-title-group>
                            <mat-card-title>{{womenShoes.company}}</mat-card-title>
                        </mat-card-title-group>
                        <mat-card-content>
                            <img mat-card-sm-image  [src]="womenShoes.small_img_1">
                            <p>{{womenShoes.price  | currency}}</p>
                        </mat-card-content>
                    </mat-card>
                </a>
            <hr>
        </div> 
  </div>
</div>
<hr>
