<div class="content">
  <div class="container" *ngFor="let womenShoes of womenCollection">
        <div class="women">
            <hr>
            <ul>
                <a [routerLink]="['/women', womenShoes.id]"><li>
                    <img [src]="womenShoes.small_img_1" alt="Women shoes">
                </li></a>
                <li class="text">
                    <span>{{womenShoes.company}}</span> : <br> <span><b>{{womenShoes.price}} $</b></span>
                </li>
            </ul>
            <hr>
        </div> 
  </div>
</div>
<hr>
