<div class="content">
  <div class="container" *ngFor="let womenShoes of womenCollection">
        <div class="women">
            <ul>
                <li class="text">
                <b>{{womenShoes.sex}}:</b>
                </li>
                <a [routerLink]="['/women', 'womenShoes.id']"><li class="featured-img">
                    <img [src]="womenShoes.small_img_1" alt="Women shoes">
                </li></a>
                <li class="text">
                    <span>{{womenShoes.company}}</span> : <br> <span><b>{{womenShoes.price}} $</b></span>
                </li>
            </ul>
        </div>
      <hr>
      
  </div>
</div>

